<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bright\ProductQA\Api\QuestionRepositoryInterface" type="Bright\ProductQA\Model\QuestionRepository"/>
    <preference for="Bright\ProductQA\Api\Data\QuestionInterface" type="Bright\ProductQA\Model\Question"/>
    <preference for="Bright\ProductQA\Api\Data\QuestionSearchResultsInterface" type="Bright\ProductQA\Model\QuestionSearchResults"/>

    <!-- Question Validations -->
    <type name="Bright\ProductQA\Model\QuestionValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="customer_email" xsi:type="object">Bright\ProductQA\Model\Question\Validator\CustomerEmailValidator</item>
                <item name="customer_name" xsi:type="object">Bright\ProductQA\Model\Question\Validator\CustomerNameValidator</item>
                <item name="product_id" xsi:type="object">Bright\ProductQA\Model\Question\Validator\ProductIdValidator</item>
                <item name="question" xsi:type="object">Bright\ProductQA\Model\Question\Validator\QuestionValidator</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Bright\ProductQA\Model\ResourceModel\Question\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">question</argument>
            <argument name="resourceModel" xsi:type="string">Bright\ProductQA\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bright_question_listing_data_source" xsi:type="string">Bright\ProductQA\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bright\ProductQA\Ui\Component\Control\DeleteButton"
                 type="Magento\Backend\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="confirmationMessage" xsi:type="string" translatable="true">Are you sure you want to delete this question?</argument>
            <argument name="idFieldName" xsi:type="const">Bright\ProductQA\Api\Data\QuestionInterface::KEY_ENTTY_ID</argument>
            <argument name="deleteRoutePath" xsi:type="string">*/*/delete</argument>
            <argument name="sortOrder" xsi:type="number">20</argument>
        </arguments>
    </virtualType>
</config>
